* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #c2bfbf;
    color: #0e0e0e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

/*navbar*/
.navbar {
    float: right;
}

.navbar-container {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-container li {
    display: inline-block;
    margin-right: 10px;
}

.navbar-container li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #333;
}

.navbar-container li a:hover {
    background-color: #555;
}


/*main*/
.title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}



